<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Список выданных книг</title>
</head>
<body>
<h2>Список выданных книг</h2>
<br/>
<table>
    <tr>
        <th>Название книги</th>
        <th>Имя читателя</th>
        <th>Дата получения</th>
    </tr>
    <tr th:each="i: ${issues}">
        <td th:text="${i.getBook().getName()}"></td>
        <td th:text="${i.getReader().getName()}"></td>
        <td th:text="${i.getIssueTimestamp()}"></td>
    </tr>
    </tr>
</table>


</body>
</html>