<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Список читателей</title>
</head>

<body>
    <h2>Cписок читателей</h2>
    <br />
    <table>
        <tr>
            <th>id</th>
            <th>Имя</th>
            <th>Количество полученных книг</th>
        </tr>
        <tr th:each="reader : ${readers}">
            <td th:text="${reader.getId()}"></td>
            <td th:text="${reader.getName()}"></td>
            <td th:text="${reader.getCountBooks()}"></td>
        </tr>
    </table>
</body>

</html>